/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Garante que o html e o body tenham 100% da altura da janela */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo da página tenha pelo menos a altura da janela */
}

/* Ajuste para o header */
header {
    background: #333;
    color: #fff;
    padding: 1rem 0; /* Ajustado para dar mais espaço no topo e no fundo */
    text-align: center; /* Centraliza o conteúdo do header */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header-logo {
    max-height: 80px; /* Ajuste de altura máxima para a imagem do logo */
    height: auto;
    margin-right: 1rem; /* Espaço entre a imagem e o título */
}

header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center; /* Centraliza o texto dentro do espaço disponível */
    flex: 1; /* Faz o título ocupar o espaço restante */
}

/* Ajuste para o main */
main {
    flex: 1; /* Ocupa todo o espaço restante verticalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    width: 100%; /* Garante que o main ocupe toda a largura */
}

section {
    background: #fff;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 100%;
    max-width: 100%;
}

section h2 {
    margin-bottom: 1rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input,
form select,
form button {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #B99A45;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

thead {
    background: #333;
    color: #fff;
}

th, td {
    padding: 0.75rem;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #555;
}

tbody tr:nth-child(even) {
    background: #f9f9f9;
}

tfoot {
    text-align: center;
    padding: 1rem 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto; /* Garante que o footer fique no final da página */
}
