/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo da página tenha pelo menos a altura da janela */
    margin: 0; /* Garante que não haja margem no corpo da página */
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    max-height: 90px;
}

.header-content {
    display: flex;
    align-items: center; /* Vertically center items */
    padding: 0 1rem; /* Adiciona padding opcional para espaçamento */
}

.header-logo {
    max-height: 100%;
    height: auto;
    margin-right: 1rem; /* Espaço opcional para separar o logo do título */
}

header h1 {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 2rem;
}

main {
    flex: 1; /* Ocupa todo o espaço restante verticalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%; /* Garante que o main ocupe toda a largura */
}

section {
    background: #fff;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Define uma largura máxima para o formulário */
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input,
form select,
form button {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background: #333;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #B99A45;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 25px;
    position: sticky;
    top: 100%;
    bottom: 0;
    width: 100%;
}
