/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo da página tenha pelo menos a altura da janela */
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    max-height: 90px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header-logo {
    max-height: 100%;
    height: auto;
    margin-right: 0rem;
}

header h1 {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 2rem;
}

.logo-content {
    position: absolute;
    top: 10px;
    left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background: #B99A45;
    border-radius: 5px;
}

main {
    flex: 1;
    padding: 2rem;
}

section {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 1rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input,
form select,
form button {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #B99A45;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

thead {
    background: #333;
    color: #fff;
}

th, td {
    padding: 0.75rem;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #555;
}

tbody tr:nth-child(even) {
    background: #f9f9f9;
}

tfoot {
    text-align: center;
    padding: 1rem 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 25px;
    position: sticky;
    top: 100%;
    bottom: 0;
    width: 100%;
}

.search-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container label {
    margin-right: 10px;
    width: auto;
}

.search-container select {
    padding: 6px;
    margin-top: 0;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    min-width: 200px;
}

.search-container button {
    padding: 6px;
    background: #333;
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0;
    max-width: 100px;
}

.search-container button:hover {
    background: #B99A45;
}