/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo da página tenha pelo menos a altura da janela */
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-logo {
    height: 50px;
}

.page-title {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 2rem;
}

.logout-button {
    background: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.logout-button:hover {
    background-color: #B99A45;
}

nav {
    background-color: #fff;
    padding: 10px 0;
    border-radius: 8px; /* Arredonda os cantos do bloco de navegação */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os itens da lista */
    text-align: center; /* Centraliza o conteúdo */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    width: 100%; /* Garante que a lista ocupe toda a largura disponível */
}

nav ul li {
    background-color: #a7a0a0;
    margin-bottom: 20px; /* Espaçamento entre os itens da lista */
    border-radius: 8px; /* Arredonda os cantos da lista */
    width: 40%; /* Define a largura dos itens da lista */
}

nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px 10px;
    transition: background-color 0.3s ease;
    border-radius: 8px; /* Arredonda os cantos dos itens da lista */
    text-align: center;
}

nav ul li a:hover {
    background-color: #B99A45;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 25px;
    position: sticky;
    top: 100%;
    bottom: 0;
    width: 100%;
}
