/* Estilos para o corpo da página */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    overflow: hidden; /* Evita rolagem */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Estilos para o cabeçalho e o rodapé */
header {
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    flex-shrink: 0;
    font: arial;
}

footer {
    text-align: center;
    padding: 10px 20px;
    flex-shrink: 0;
}

/* Estilos para o formulário de login e registro */
.login-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.login-btn,
.signup-btn {
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #111111;
    margin-left: 10px;
}

.login-btn a,
.signup-btn a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.login-btn a {
    color: #111111;
}

.signup-btn {
    background: #111111;
}

.signup-btn a {
    color: #ffffff;
}

/* Estilos para o banner de boas-vindas */
.banner-container {
    width: 100%;
    flex-grow: 1; /* Permite que o banner cresça para preencher o espaço restante */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: auto; /* Ajusta a altura automaticamente */
}

.banner-content {
    position: absolute;
    text-align: center;
    color: white;
}

.banner-text {
    margin-bottom: 20px;
}

.banner-description {
    font-size: 24px;
}