/* Estilos para o cabeçalho e o rodapé */
header {
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}

/* Estilos para o formulário de login e registro */
.login-btn,
.signup-btn {
    display: inline-block;
    width: 98px;
    height: 40px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    border: 1px #111111 solid;
}

.login-btn a,
.signup-btn a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    color: #111111;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    text-decoration: none;
}

.signup-btn {
    background: #111111;
    color: white;
}

/* Estilos para o banner de boas-vindas */
.banner-container {
    width: 1440px;
    height: 1073px;
    position: relative;
    background: white;
}

.banner-image {
    width: 1440px;
    height: 1000px;
    position: absolute;
    top: 73px;
    left: 0px;
}

.banner-content {
    width: 761px;
    height: 872px;
    position: absolute;
    top: 64px;
    left: 84px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 24px;
    overflow: hidden;
    backdrop-filter: blur(24px);
}

.banner-text {
    position: absolute;
    top: 258px;
    left: 64px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 48px;
}

.banner-title {
    color: white;
    font-size: 48px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 64px;
    word-wrap: break-word;
}

.banner-description {
    width: 633px;
    color: #333333;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}
